<div class="container-fluid video-container">
  <canvas #canvas width="200" height="200"></canvas>
</div>

<div class="container mt-3">

  <form #newStreamForm
        [formGroup]="newStreamFormGroup"
        (ngSubmit)="onNewStreamSubmit()">

    <!-- Current Video Source Input -->
    <mat-form-field class="d-block">
      <input matInput
             placeholder="Create New Stream"
             formControlName="source"
             autofocus>

      <mat-icon matSuffix (click)="onNewStreamSubmit()">send</mat-icon>

      <mat-error *ngIf="newStreamFormGroup.get('source').hasError('required')">
        An RTSP Url is required.
      </mat-error>
    </mat-form-field>

  </form>

  <form #existingStreamForm
        [formGroup]="existingStreamFormGroup"
        (ngSubmit)="onExistingStreamSubmit()">

    <!-- Current Video Source Input -->
    <mat-form-field class="d-block">
      <input matInput
             placeholder="Join Existing Stream"
             formControlName="source"
             autofocus>

      <mat-icon matSuffix (click)="onExistingStreamSubmit()">send</mat-icon>

      <mat-error *ngIf="existingStreamFormGroup.get('source').hasError('required')">
        A RTSP Url is required.
      </mat-error>
    </mat-form-field>

  </form>

</div>


